@model LexiconLMSPortal.Models.ViewModels.ScheduleViewModel

<h3>@ViewBag.Course</h3>
<div class="row">
    <div class="col-sm-2">
        <h3>Monday</h3>
        @foreach (var item in Model.Monday)
        {
            <div class="ScheduleCell">
                @Html.DisplayFor(modelItem => item.Name)

                @Html.DisplayFor(modelItem => item.StartDate)

                @Html.DisplayFor(modelItem => item.EndDate)
            </div>
        }
    </div>
    <div class="col-sm-2">
        <h3>Tuesday</h3>
        @foreach (var item in Model.Tuesday)
        {
            <div class="ScheduleCell">
                @Html.DisplayFor(modelItem => item.Name)

                @Html.DisplayFor(modelItem => item.StartDate)

                @Html.DisplayFor(modelItem => item.EndDate)
            </div>
        }
    </div>
    <div class="col-sm-2">
        <h3>Wednesday</h3>
        @foreach (var item in Model.Wednesday)
        {
            <div class="ScheduleCell">
                @Html.DisplayFor(modelItem => item.Name)

                @Html.DisplayFor(modelItem => item.StartDate)

                @Html.DisplayFor(modelItem => item.EndDate)
            </div>
        }
    </div>
    <div class="col-sm-2">
        <h3>Thursday</h3>
        @foreach (var item in Model.Thursday)
        {
            <div class="ScheduleCell">
                @Html.DisplayFor(modelItem => item.Name)

                @Html.DisplayFor(modelItem => item.StartDate)

                @Html.DisplayFor(modelItem => item.EndDate)
            </div>
        }
    </div>
    <div class="col-sm-2">
        <h3>Friday</h3>
        @foreach (var item in Model.Friday)
        {
            <div class="ScheduleCell">
                @Html.DisplayFor(modelItem => item.Name)

                @Html.DisplayFor(modelItem => item.StartDate)

                @Html.DisplayFor(modelItem => item.EndDate)
            </div>
        }
    </div>

    <div class="col-sm-2"></div>
</div>