@model LexiconLMSPortal.Models.ViewModels.ScheduleViewModel

<h2>@ViewBag.Course</h2>
<br />
<h4 style="margin-bottom: 8px">Week: @ViewBag.Week</h4>
<div class="row">
    <div class="col-md-2 schedulecol mondayCol">
        <h3>Monday</h3>@ViewBag.MondayDate
        @foreach (var item in Model.Monday)
        {
            <div class="ScheduleCell">
                @Html.DisplayFor(modelItem => item.Name)
                <br />
                @Html.DisplayFor(modelItem => item.StartDate)
                -
                @Html.DisplayFor(modelItem => item.EndDate)
            </div>
        }
    </div>
    <div class="col-md-2 schedulecol  tuesdayCol">
        <h3>Tuesday</h3>@ViewBag.TuedayDate
        @foreach (var item in Model.Tuesday)
        {
            <div class="ScheduleCell">
                @Html.DisplayFor(modelItem => item.Name)
                <br />
                @Html.DisplayFor(modelItem => item.StartDate)
                -
                @Html.DisplayFor(modelItem => item.EndDate)
            </div>
        }
    </div>
    <div class="col-md-2 schedulecol  wednesdayCol">
        <h3>Wednesday</h3>@ViewBag.WednesdayDate
        @foreach (var item in Model.Wednesday)
        {
            <div class="ScheduleCell">
                @Html.DisplayFor(modelItem => item.Name)
                <br />
                @Html.DisplayFor(modelItem => item.StartDate)
                -
                @Html.DisplayFor(modelItem => item.EndDate)
            </div>
        }
    </div>
    <div class="col-md-2 schedulecol thurdayCol">
        <h3>Thursday</h3>@ViewBag.ThursDate
        @foreach (var item in Model.Thursday)
        {
            <div class="ScheduleCell">
                @Html.DisplayFor(modelItem => item.Name)
                <br />
                @Html.DisplayFor(modelItem => item.StartDate)
                -
                @Html.DisplayFor(modelItem => item.EndDate)
            </div>
        }
    </div>
    <div class="col-md-2 schedulecol fridayCol">
        <h3>Friday</h3>@ViewBag.FridayDate
        @foreach (var item in Model.Friday)
        {
            <div class="ScheduleCell">
                @Html.DisplayFor(modelItem => item.Name)
               <br />
                @Html.DisplayFor(modelItem => item.StartDate)
                -
                @Html.DisplayFor(modelItem => item.EndDate)
            </div>
        }
    </div>
</div>