@model LexiconLMSPortal.Models.ViewModels.ModulesViewModel

<div id="@Html.Raw("StudentCourseActivitiesPartial" + Model.Id)">
    
        @foreach (var activity in Model.Activities)
        {
            <div class="panel panel-default student-activity">
                <div class="panel-body" tooltip="@Html.DisplayFor(modelItem => activity.Description)">

                    <div class="row">
                        <div class="col-xs-4">@Html.DisplayFor(modelItem => activity.Name)</div>
                        <div class="col-xs-8">
                            <div class="col-xs-5">@Html.DisplayFor(modelItem => activity.StartDate) <br /> @Html.DisplayFor(modelItem => activity.EndDate)</div>
                            <div class="col-xs-4">@Html.Action("DocumentActivityList", "Document", new { id = activity.Id })</div>
                            <div class="col-xs-3" style="text-align:right;"></div>
                        </div>
                    </div>
                </div>
            </div>
        }     
</div>