@model LexiconLMSPortal.Models.ViewModels.ModulesViewModel

<div id="@Html.Raw("StudentCourseActivitiesPartial" + Model.Id)">

    @foreach (var activity in Model.Activities)
    {
    <div class="panel-default student-activity">
        <div tooltip="@Html.DisplayFor(modelItem => activity.Description)">

                    <div class="row ListRow">
                        <div class="col-xs-4 ListActivityName">@Html.DisplayFor(modelItem => activity.Name)</div>
                        <div class="col-xs-8 ListDateED">
                            <div class="col-xs-6">
                                <div class="vertical-align">
                                    <span class="glyphicon glyphicon-calendar calendar-icon"></span>
                                    <span style="margin-right:25px;">@activity.StartDate.ToShortDateString()</span>
                                    <span class="glyphicon glyphicon-time calendar-icon"></span>
                                    <span>@activity.StartDate.ToShortTimeString() <br /> @activity.EndDate.ToShortTimeString()</span>
                                </div>
                            </div>
                            <div class="col-xs-4">@Html.Action("DocumentActivityList", "Document", new { id = activity.Id })</div>
                            <div class="col-xs-2" style="text-align:right;"></div>
                        </div>
                    </div>
                </div>
            </div>
        }     
</div>