@model LexiconLMSPortal.Models.ViewModels.CourseViewModel
@{
    ViewBag.Title = Model.Name;
}

<div class="row ListRow" style="margin-top: 2%">
    <div class="col-md-5 ListModulName">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
    </div>
    <div  class="col-md-7 ListDateED">
        <h5>@Html.DisplayFor(model => model.Description)</h5>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-xs-8">

        @Html.Action("DocumentCourseList", "Document", new { id = Model.Id })

        <div class="ListBlock panel-default">
            <div class="panel-body">
                <div style="font-size:20px; padding-bottom:10px; ">
                    <div style="padding-top:5px;">Modules</div>
                </div>
                @Html.Action("_StudentCourseModulesPartial", "Student")
            </div>
        </div>
    </div>
    <div id="SList" class=" col-sm-push-1 col-xs-4 col-sm-3">
        @Html.Action("_StudentListPartial", "Student")
    </div>
</div>