@model IEnumerable<LexiconLMSPortal.Models.ViewModels._StudentListPartial>

@{
    Layout = "";
}


<div id="FullStudentList">
    @using (Html.BeginForm())
    {
        <div class="FullListSearchBody">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default ListCreateButtonFullList" type="submit" ><span class="glyphicon glyphicon-menu-right"></span></button>
                    @Html.TextBox("search",null, new { @class= "form-control FullListTextField", placeholder="Search Student..."})
                    
                </span>          
            </div>

        </div>
    }
    <table class="table">
        <tr>
    <th class="FullStudentListToRow">
        @Html.ActionLink("Student", "FullStudentList", new { sortOrder = ViewBag.NameSort })
    </th>
    <th class="FullStudentListToRow">
        @Html.ActionLink("Email", "FullStudentList", new { sortOrder = ViewBag.EmailSort })
    </th>
    <th class="FullStudentListToRow">
        @Html.ActionLink("Course", "FullStudentList", new { sortOrder = ViewBag.CourseSort })
    </th>
    <th class="FullStudentListToRow"></th>
</tr>

@foreach (var item in Model)
{
    <tr class="FullListTable">
        <td class="FullStudentListToRowIn">
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td class="FullStudentListToRowIn">
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td class="FullStudentListToRowIn">
            @Html.DisplayFor(modelItem => item.CourseId.Name)
        </td>
        <td class="FullStudentListToRowIn">
            <a href="@Url.RouteUrl("Default", new {controller = "Teacher", action = "EditStudentFullList", id = item.Id })" class="ajax-link TeacherLinkIcon" data-target="#EditStudentModalFullList"><span class="glyphicon glyphicon-pencil edit-button"></span></a>
            <a href="@Url.RouteUrl("Default", new {controller = "Teacher", action = "DeleteStudentFullList", id = item.Id })" class="ajax-link TeacherLinkIcon" data-target="#DeleteStudentModalFullList"><span class="glyphicon glyphicon-remove-circle delete-button"></span></a>
        </td>
    </tr>
}

    </table>
</div>
<div id="EditStudentModalFullList"></div>
<div id="DeleteStudentModalFullList"></div>
