@model LexiconLMSPortal.Models.ViewModels.CourseViewModel
@{
    ViewBag.Title = Model.Name;
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<p>@Html.DisplayFor(model => model.Description)</p>

<hr />

<div class="row">
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="font-size:20px; padding-bottom:10px; ">
                    <div style="float:left; padding-top:5px;">Modules</div>
                    <div style="text-align:right;"><a class="ajax-link btn btn-default" href="@Url.RouteUrl("Default", new {controller = "Teacher", action = "CreateModule", id = Model.Id })" data-target="#CreateModuleModal"><span class="glyphicon glyphicon-plus-sign"></span> Module</a></div>
                </div>
                @Html.Action("TeacherCourseModulesPartial", "Teacher")
            </div>
        </div>
    </div>
    <div id="SList" class=" col-sm-push-1 col-xs-4 col-sm-3">
        @Html.Action("_StudentListPartial", "Teacher")
    </div>
</div>


<!-- modal placeholders-->
<div id="TheModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-content">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="EditStudentModal"></div>
<div id="DeleteStudentModal"></div>

<div id="CreateModuleModal"></div>
<div id="EditModuleModal"></div>
<div id="DeleteModuleModal"></div>

<div id="CreateActivityModal"></div>
<div id="EditActivityModal"></div>
<div id="DeleteActivityModal"></div>
