@model LexiconLMSPortal.Models.ViewModels.CourseViewModel
@{
    ViewBag.Title = Model.Name;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<p>@Html.DisplayFor(model => model.Description)</p>
<h3>Modules</h3>

<div class="row">
    <div class="col-xs-8">
        @Html.Action("TeacherCourseModulesPartial", "Teacher")
    </div>
    <div id="SList" class="col-xs-3">
        @Html.Action("_StudentListPartial", "Teacher")
        <a href="#TheModal" class=" btn btn-primary pull-right" role="button" id="modalbtn" data-toggle="modal" data-url="@Url.Action("CreateStudent",new { id = Model.Id})">Add Student</a>
    </div>
</div>


<!-- modal placeholders-->
<div id="TheModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-content">

                </div>
            </div>
        </div>
    </div>
</div>

<div id="EditStudentModal">

</div>

<div id="DeleteStudentModal">

</div>

<div id="CreateModuleModal"></div>
<div id="EditModuleModal"></div>
<div id="DeleteModuleModal"></div>

