@model IEnumerable<LexiconLMSPortal.Models.ViewModels.CourseViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div  class="col-xs-8">
        
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Courses","Teacher", new { @id = item.Id})" class="TeacherLink">
                <div id="TeacherCourseList" tooltip="@Html.DisplayFor(modelItem => item.Description)">
                    <div>
                        <h1>
                            @Html.DisplayFor(modelItem => item.Name)
                        </h1>
                    </div>
                    <div class="text-center">
                        Starts:
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </div>
                    <div class="text-center">
                        Ends:
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </div>
                    <div class="text-right">
                        <a href="@Url.Action("Delete","Teacher")"class="TeacherLinkIcon">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </a>
                        <a href="@Url.Action("Edit","Teacher")"class="TeacherLinkIcon">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </div>

                </div>
            </a>
        }
                      
    </div>
    <div id="TList">
        @Html.Action("_TeacherListPartial", "Teacher")
    </div>
</div>

<!--Modals-->
@Html.Action("AddTeacher", "Teacher")
@Html.Action("EditTeacher", "Teacher")
@Html.Action("DeleteTeacher", "Teacher")

