@model IEnumerable<LexiconLMSPortal.Models.ViewModels.CourseViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            <a href="@Url.Action("Edit","Teacher")" class="btn-outline btn-default">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a href="@Url.Action("Delete","Teacher")" class="btn-outline btn-default">
                <i class="glyphicon glyphicon-remove-circle"></i>
            </a>

            
        </td>
    </tr>
}

</table>

