@model LexiconLMSPortal.Models.ViewModels.ModulesViewViewModel

<div id="TeacherCourseModulesPartial">
    <div class="panel-group" id="module-accordion" role="tablist" aria-multiselectable="true">
        @{int moduleid = 0; }
        @foreach (var item in Model.Modules)
        {
            <div class="panel panel-default">
                <div class="panel-heading module-accordion-heading" role="tab" id="@Html.Raw("heading" + moduleid)" tooltip="@Html.DisplayFor(modelItem => item.Description)" style="position:relative">
                    <a class="ModuleCollapse" role="button" data-toggle="collapse" data-parent="#module-accordion" href="@Html.Raw("#collapse" + moduleid)" aria-expanded="true" aria-controls="@Html.Raw("#collapse" + moduleid)"></a>
                    <div class="row">
                        <div class="col-xs-4">
                            <h4 class="panel-title">
                                <a class="module-accordion-link" role="button" data-toggle="collapse" data-parent="#module-accordion" href="@Html.Raw("#collapse" + moduleid)" aria-expanded="true" aria-controls="@Html.Raw("#collapse" + moduleid)">
                                    <span style="font-size:18px;">@Html.DisplayFor(modelItem => item.Name)</span>
                                </a>
                            </h4>
                        </div>
                        <div class="col-xs-4"><span class="glyphicon glyphicon-calendar"></span> @Html.DisplayFor(modelItem => item.StartDate) to @Html.DisplayFor(modelItem => item.EndDate)</div>
                        <div class="col-xs-4" style="text-align:right; margin-right:0; padding-right:2px;">
                            <a class="ajax-link-edit" data-target="#EditModuleModal" href="@Url.RouteUrl("Default", new {controller = "Teacher", action = "EditModule", id = item.Id })"><span class="glyphicon glyphicon-pencil edit-button"></span></a>
                            <a class="ajax-link-remove" data-target="#DeleteModuleModal" href="@Url.RouteUrl("Default", new {controller = "Teacher", action = "DeleteModule", id = item.Id })"><span class="glyphicon glyphicon-remove-circle delete-button"></span></a>
                            <span style="border-left: solid 1px gray; padding:8px; margin-left:5px;" class="glyphicon glyphicon-menu-down"></span>
                        </div>
                    </div>
                </div>

                <div id="@Html.Raw("collapse" + moduleid)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@Html.Raw("heading" + moduleid)">

                    <!-- Documents -->
                    <div style="padding:0px 15px; padding-top:15px;">
                        <div style="padding-bottom:12px;">
                            <div style="float:right;"><a class="ajax-link btn btn-default" href="@Url.RouteUrl("Default", new {controller = "Teacher", action = "CreateModule", id = Model.Id })" data-target="#CreateModuleModal"><span class="glyphicon glyphicon-plus-sign"></span> Document</a></div>
                            <div style="font-size:16px; padding-top:6px;">Documents</div>
                        </div>

                            @foreach (var doc in item.Documents)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div style="float:left;">
                                            <a href="@Url.RouteUrl("Default", new {controller = "Document", action = "GetFile", id = doc.Id })" tooltip="@Html.DisplayFor(model => doc.Description)"><span class="glyphicon glyphicon-file"></span> @Html.DisplayFor(model => doc.Name)</a>
                                        </div>
                                        <div style="text-align:right">
                                            <a href="@Url.RouteUrl("Default", new { controller = "Teacher", action = "EditStudent", id = 0 })" class="ajax-link-edit TeacherLinkIcon" data-target="#EditStudentModal"><span class="glyphicon glyphicon-pencil edit-button"></span></a>
                                            <a href="@Url.RouteUrl("Default", new { controller = "Teacher", action = "DeleteStudent", id = 0 })" class="ajax-link-remove TeacherLinkIcon" data-target="#DeleteStudentModal"><span class="glyphicon glyphicon-remove-circle delete-button"></span></a>
                                        </div>
                                    </div>
                                </div>
                            }
                    </div>

                    <hr style="margin:15px 0px;" />

                    <div style="padding:0px 15px; padding-bottom:15px;">
                        <div style="padding-bottom:12px;">
                            <div style="float:right"><a class="ajax-link btn btn-default" data-target="#CreateActivityModal" href="@Url.RouteUrl("Default", new {controller = "Teacher", action = "CreateActivity", id = item.Id })"><span class="glyphicon glyphicon-plus-sign"></span> Activity</a></div>
                            <div style="font-size:16px; padding-top:6px;">Activities</div>
                        </div>
                            @Html.Action("TeacherCourseActivitiesPartial", "Teacher", new { id = item.Id })
                    </div>
                </div>
            </div>
            moduleid++;

        }
    </div>
</div>