@model LexiconLMSPortal.Models.ViewModels.ModulesViewViewModel

<div id="TeacherCourseModulesPartial">
    <div class="panel-group" id="module-accordion" role="tablist" aria-multiselectable="true">
        @{int moduleid = 0; }
        @foreach (var item in Model.Modules)
        {
            <div class="panel-default">
                <div class="module-accordion-heading" role="tab" id="@Html.Raw("heading" + moduleid)" tooltip="@Html.DisplayFor(modelItem => item.Description)" style="position:relative">
                    <a class="ModuleCollapse" role="button" data-toggle="collapse" data-parent="#module-accordion" href="@Html.Raw("#collapse" + moduleid)" aria-expanded="true" aria-controls="@Html.Raw("#collapse" + moduleid)"></a>
                    <div class="row ListRow">
                        <div class="col-md-4 ListModulName">
                            <h4 class="panel-title">
                                <a class="module-accordion-link" role="button" data-toggle="collapse" data-parent="#module-accordion" href="@Html.Raw("#collapse" + moduleid)" aria-expanded="true" aria-controls="@Html.Raw("#collapse" + moduleid)">
                                    <span style="font-size:18px;">@Html.DisplayFor(modelItem => item.Name)</span>
                                </a>
                            </h4>
                        </div>
                        <div class="col-md-8 ListDateED">
                            <div class="col-md-5">@Html.DisplayFor(modelItem => item.StartDate) <br /> @Html.DisplayFor(modelItem => item.EndDate)</div>
                            <div class="col-md-4">@Html.Action("DocumentModuleList", "Document", new { id = item.Id })</div>
                            <div class="col-md-3" style="text-align:right; margin-right:0; padding-right:2px;">
                                <a class="ajax-link-edit" data-target="#EditModuleModal" href="@Url.RouteUrl("Default", new {controller = "Teacher", action = "EditModule", id = item.Id })"><span class="glyphicon glyphicon-pencil edit-button"></span></a>
                                <a class="ajax-link-remove" data-target="#DeleteModuleModal" href="@Url.RouteUrl("Default", new {controller = "Teacher", action = "DeleteModule", id = item.Id })"><span class="glyphicon glyphicon-remove-circle delete-button"></span></a>
                                <span style="border-left: solid 1px gray; padding:8px; margin-left:5px;" class="glyphicon glyphicon-menu-down"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="@Html.Raw("collapse" + moduleid)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@Html.Raw("heading" + moduleid)">
                    <div style="padding:0px 15px; padding-bottom:15px;">
                        <div style="padding-bottom:12px;">
                            <div style="float:right"><a class="ajax-link btn btn-default ListCreateButton" data-target="#CreateActivityModal" href="@Url.RouteUrl("Default", new {controller = "Teacher", action = "CreateActivity", id = item.Id })"><span class="glyphicon glyphicon-plus-sign"></span> Activity</a></div>
                            <div style="font-size:16px; padding-top:6px;">Activities</div>
                        </div>
                            @Html.Action("TeacherCourseActivitiesPartial", "Teacher", new { id = item.Id })
                    </div>
                </div>
            </div>
            moduleid++;

        }
    </div>
</div>